In [1]:
import pandas as pd

In [3]:
x = pd.Series([6,3,8,6])

In [5]:
x

0    6
1    3
2    8
3    6
dtype: int64

In [6]:
x = pd.Series([6,3,8,6], index = ['q','w','e','r'])

In [7]:
x

q    6
w    3
e    8
r    6
dtype: int64

In [8]:
x['w']

3

In [9]:
x[['r', 'w']]

r    6
w    3
dtype: int64

In [10]:
age = {'Tim':29, 'Jim':31, 'Sam':35 }

In [11]:
x = pd.Series(age)

In [12]:
x

Jim    31
Sam    35
Tim    29
dtype: int64

In [27]:
data = { 'name': ['Tim', 'Jim', 'Sam'],
        'age':[29,27,35],
        'zip':['02115', '02130', '00100']
}

In [35]:
data['name'][1]

'Jim'

In [28]:
x = pd.DataFrame(data, columns = ['name', 'age', 'zip'])

In [29]:
x

  name  age    zip
0  Tim   29  02115
1  Jim   27  02130
2  Sam   35  00100

In [38]:
x['name']

0    Tim
1    Jim
2    Sam
Name: name, dtype: object

In [39]:
x.name

0    Tim
1    Jim
2    Sam
Name: name, dtype: object

In [45]:
x = pd.Series([6,3,8,6], index = ['q','w','e','r'])
x

q    6
w    3
e    8
r    6
dtype: int64

In [47]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [48]:
x.reindex(sorted(x.index))

e    8
q    6
r    6
w    3
dtype: int64

In [52]:
x = pd.Series([6,3,8,6], index = ['q','w','e','r'])
y = pd.Series([7,3,5,2], index = ['e','q','r','t'])
print (x); print(y)

q    6
w    3
e    8
r    6
dtype: int64
e    7
q    3
r    5
t    2
dtype: int64

In [53]:
x + y

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64

#### Getting Started with Pandas: Question 1

What is Pandas?

- **A Python library designed to query and manipulate annotated data tables**
- An extension of numpy arrays
- A classification library

#### Getting Started with Pandas: Question 2

What keyword allows you to specify names to indices in a pd.Series ?

- ```names```
- **```index```**
- ```key```
- ```values```

#### Getting Started with Pandas: Question 3

In pandas , what does the reindex method do?

- Renames the indices according to the argument or adds an additional index to the pandas Series object
- **Reorders the indices of a pandas Series object according to its argument**